#main-footer {
    background-color: rgb(119, 90, 102);
    color: #fff;
}

#page-header {
    height: 500px;
    box-shadow : 0px -8vpx 30px 0px rgba(27, 27, 27, .2) inset;
    color: rgb(53, 53, 53);
    text-align: left;
    padding: 30px 100px;
    overflow-y: hidden;
}

#header-back {
    width: 500px;
}

.header_text {
    text-align: right;
}

.rotate {
    animation-name: rotation, opacity;
    animation-iteration-count: infinite;
    animation-duration: 60s, 3000ms;
}

@keyframes opacity {
    0% {opacity: .1;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: .2;}
    100% {opacity: .1;}
}

@keyframes rotation {
    from {
        transform:rotate(0deg);
    }
    to {  
        transform:rotate(360deg);
    }
}

@-moz-keyframes rotation {
    from {
        transform:rotate(0deg);
    }
    to {  
        transform:rotate(360deg);
    }
}

@-webkit-keyframes rotation {
    from {
        transform:rotate(0deg);
    }
    to {  
        transform:rotate(360deg);
    }
}
